# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/
env/

# Ignore .env file
.env

# Ignore other sensitive files
*.log
*.sqlite3
README_private.md

# Ignore compiled files
*.pyc

# Ignore ManyDaughters_RT_AnalysisPackage
ManyDaughters_RT_AnalysisPackage/

# Ignore ManyDaughters_PC_AnalysisPackage
ManyDaughters_PC_AnalysisPackage_95/

# Ignore AWS related files for local use
AWS_readme.md
AWS_bucket_checker.py
AWS_interactive_deleter.py

