# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/
env/

# Ignore .env file
.env

# Ignore other sensitive files
*.log
*.sqlite3
README_private.md

# Ignore compiled files
*.pyc

# Ignore ManyDaughters_RT_AnalysisPackage
ManyDaughters_RT_AnalysisPackage/

# Ignore ManyDaughters_PC_AnalysisPackage
ManyDaughters_PC_AnalysisPackage_95/

# Ignore PAPs
ManyDaughters_RT_PAPs

# Ignore ManualChecks
ManualChecks

# Ignore summary of code checking results
summary/

# Ignore AWS related files for local use and local syncing apps
AWS_readme.md
AWS_bucket_checker.py
AWS_interactive_deleter.py
local_sync_app.py
PAP_latest.py
results95_sync.py
dofiles95_sync.py
logfiles95_sync.py


